{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Bookr</title>
</head>
<body>
    <div class="ui top menu">
      <div class="item">
            <img src="{% static 'img/logo.jpeg' %}">
          </div>
          <a class="item" href="{% url 'home' %}">Home</a>
          <a class="item" href="{% url 'book_list' %}">Books</a>
          <a class="item" href="{% url 'book_search' %}">Search Book</a>

        <div class="right menu">
            <div class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
            {% if user.is_authenticated %}
                <a class="item" href="{% url 'profile' %}">{{ user.username }}</a>
                <a class="ui item" href="{% url 'logout' %}"> Logout </a>
            {% else %}
                <a class="item" href="{% url 'login' %}">Sign-in</a>
                <a class="ui item" href=""> Register </a>
            {% endif %}
        </div>
    </div>

    </div>

    <div class="ui container">
        {% for message in messages %}
            <div class="alert alert-{% if message.level_tag == 'error' %}danger{% else %}{{ message.level_tag }}{% endif %}"
                 role="alert">
              {{ message }}
            </div>
          {% endfor %}

        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>